.app
    position: relative
    overflow: hidden
    height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between

@import "./styles/_reset"
@import "./styles/_utilities"
@import "./styles/_header"
@import "./styles/_menu"
@import "./styles/_menu-button"
@import "./styles/_stack-control"
@import "./styles/_stack"
@import "./styles/_node"
@import "./styles/_stack_simulator"
@import "./styles/_pointer"
@import "./styles/_queue-simulator"
@import "./styles/_queue-control"
@import "./styles/_queue"